[defaults]
inventory = inventory.ini
remote_user = diego
private_key_file = ~/.ssh/id_homelab
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
